version: '3.8'

services:

  # Servicio de BD Relacional - PostgreSQL
  postgres:
    image: postgres:15 # LTS actual de PostgreSQL
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: alie_db # Debe estar en minúsculas.

  # Servicio de Administrador de BD Relacional. Docs: https://github.com/vrana/adminer
  adminer:
    image: adminer
    ports:
      - 8081:8080
    restart: always

  # Servicio de Inicialización de BD
  db_init:
    image: harbor.alie.javeriana.edu.co/images/db-init:latest
    build:
      context: ./DB_Init  # Contexto de construcción en la carpeta DB_Init
      dockerfile: Dockerfile
    depends_on:
      - postgres
    restart: on-failure
    labels:
      kompose.cronjob.schedule: "0 7 * * *"

  # Servicio de base de datos documental - MongoDB
  mongodb:
    image: mongo:latest
    container_name: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    ports:
      - "27017:27017"

  # Servicio web de administrador de MongoDB. Docs: https://github.com/mongo-express/mongo-express
  # CREDENCIALES POR DEFECTO: Username: admin. Password: pass.
  mongo-express:
    image: mongo-express:latest
    container_name: mongo_express
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: admin123
      ME_CONFIG_MONGODB_SERVER: mongodb
    ports:
      - "8082:8081"
    depends_on:
      - mongodb

  # Servicio de Inicialización de BD Documental
  docs_db_init:
    image: harbor.alie.javeriana.edu.co/images/docs-db-init:latest
    build:
      context: ./Docs_DB_Init  # Contexto de construcción en la carpeta Docs_DB_Init
      dockerfile: Dockerfile
    depends_on:
      - mongodb
    restart: on-failure
    labels:
      kompose.cronjob.schedule: "0 7 * * *"  # Ejecutar a las 7:00 AM
